body{
    background-color: white;
}
header{
    background-color: #a673ee;
}
nav .nav-img{
    width: 200px;
}
.head1{
    color: rgb(255, 208, 0);
    font-size: 40px;
    font-weight: 700;
}
.head2{
    color: #363958;
    font-size: 40px;
    font-weight: 700;
}
p{
    color: rgb(42, 40, 40);
}
.first-sec{
    
}
.icons img{
    margin: 0 15px;
    width: 80px;
    height: 80px;
}
.cards-img{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background-color: rgb(223, 221, 221);
}
.cards-img img{
    height: 80%;
    width: 70%;
    border-radius: 30%;
    margin: auto auto;
}
.contact-sec{
    color: white;
    background-color: rgb(122, 57, 172);
}