body{
    background-color: white;
}
header{
    background-color: #a673ee;
}
.head1{
    
    font-size: 40px;
    font-weight: 700;
}
.head2{
    color: #363958;
    font-size: 40px;
    font-weight: 700;
}
p{
    color: rgb(112, 108, 108);
}
.first-sec{
    
}
.icons img{
    margin: 0 15px;
    width: 80px;
    height: 80px;
}
.cards-img{
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background-color: rgb(223, 221, 221);
}
.cards-img img{
    height: 80%;
    width: 70%;
    border-radius: 30%;
    margin: auto auto;
}
.contact-sec{
    color: white;
    background-color: rgb(122, 57, 172);
    height: 300px;
    text-align: justify;
    margin-top: 35px;
    
}
/* .right-box{
    position: relative;
    left: 40%
} */
.email{
    margin: 10px 0px
}
.messeage{
    margin: 10px 0px;
}
.btn button{
    margin: 20px 0px;
    padding: 5px 10px;
    color: rgb(46, 23, 23);
    font-weight: 600;
    background-color: white;
    border: 0px;
}